<div class = "container">
<p id="notice"><%= notice %></p>
<p>
  <strong>Member:</strong>
  <%= @blog.member.name %>
  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <strong>Title:</strong>
  <%= @blog.title %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <strong>Category:</strong>
  <%= @blog.category.name %>
</p>

<p>
  <strong>Read time:</strong>
  <%= @blog.read_time %>
</p>

<p>
  <%= image_tag @blog.image_url, class:"img-thumbnail w-50" %>
</p>

<p>
  <strong>Body:</strong>
  <%= @blog.body %>
</p>


<% if current_member.role == 'Admin' or current_member.id == @blog.member_id %>
<%= link_to 'Edit', edit_blog_path(@blog),class: "btn btn-primary text-white" %> |
<%end%>
<%= link_to 'Back', blogs_path,class: "btn btn-primary text-white" %>
</div>