<p id="notice"><%= notice %></p>
<center>
<h1>Categories</h1>
</br>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr scope="row">
        <td><%= category.name %></td>
        <td><%= link_to 'Show', category, class: "btn btn-outline-info btn-sm"  %></td>
        <td><%= link_to 'Edit', edit_category_path(category), class: "btn btn-outline-success btn-sm" %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path ,class: "btn btn-primary text-white" %>
<center>